@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

body {
    font-family: FontAwesome, serif;
    background-color: rgb(251, 251, 251); /* Sets the background to white */
}

.button {
    color: black;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(51, 51, 51);
    padding: 0.5em 0.9em; /* Adds some padding around the text */
    margin: 0;
    background-color: rgb(251, 251, 251);
    border-radius: 2em; /* Rounds the corners of the buttons */
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Necessary for adding padding and maintaining inline behavior */
}
.button.fill {
    background: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

.button.icon i {
    margin-right: 0.5em;
}
.button.hover {
    background: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}